---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Testing from "../components/Testing.astro";

export const prerender = true;
---

<Layout title="Welcome to spaced repetition by SOGGY INK GAMES">
  <Main>
    <H1 text="Your Notes" />

    <Testing
      backgroundImage="https://res.cloudinary.com/soggy-ink-games/image/upload/v1708528565/soggy-ink-brain_dggi8h.jpg"
      imageWidth="300"
      imageHeight="300"
      cardText="Ian is my name Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can Yes you can "
    />
  </Main>
</Layout>
