---
import BrainCard from "./BrainCard.astro";
import type { Props as BrainCardProp } from "./BrainCard.astro";

type Props = {
  brainCards: BrainCardProp[]; // accepts an array of CardProps
};

const { brainCards } = Astro.props;
---

<div class="container">
  <ul class="cards">
    {brainCards.map((brainCard) => <BrainCard {...brainCard} />)}
  </ul>
</div>

<script>
  //YOU GOT THIS CUNT KEEP GOING! one by one
</script>

<style>
  .container {
    width: 80vw;
    max-height: 100%;
    padding: 100px;
    align-content: safe center;
    background-clip: border-box;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: contain;
    background-color: #22d3ee;
  }

  /* todo: RETHINK THIS IT LOOKS SHIT AND MOVES DOWN ON SWIPE */
  /* .fadeout {
    position: absolute;
    width: 70%;
    height: 70%;
    bottom: 17%;
    left: 0;
    right: 4em;
    height: 5em;
    transform: translate(-50%, -50%);

    background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    animation: linear move-text both;
    animation-timeline: --li-in-and-out-of-view;
  } */

  .cards {
    list-style: none;
    white-space: nowrap;
    position: relative;
    max-width: calc(300px * 24);
    overflow: scroll;
    padding-left: 50%;
    padding-right: 50%;
  }
  .cards::-webkit-scrollbar {
    display: none;
  }

  /* .cards li {
    display: inline-block;
    margin-top: 200px;
    margin-bottom: 400px;
    width: 300px;
    aspect-ratio: 1;
  } */

  .cards {
    scroll-snap-type: x mandatory;
  }

  @keyframes rotate-cover {
    0% {
      transform: translateX(-100%) rotateY(-45deg);
    }
    35% {
      transform: translateX(0) rotateY(-45deg);
    }
    50% {
      transform: rotateY(0deg) translateZ(1em) scale(1.5);
    }
    65% {
      transform: translateX(0) rotateY(45deg);
    }
    100% {
      transform: translateX(100%) rotateY(45deg);
    }
  }
</style>
