---
import BrainCard from "./BrainCard.astro";
import type { Props as BrainCardProp } from "./BrainCard.astro";

type Props = {
  brainCards: BrainCardProp[]; // accepts an array of CardProps
};

const { brainCards } = Astro.props;
---

<div class="container">
  <ul class="cards">
    {brainCards.map((brainCard) => <BrainCard {...brainCard} />)}
  </ul>
</div>

<script>
  //YOU GOT THIS CUNT KEEP GOING! one by one
</script>

<style>
  .container {
    width: 100%;
    max-height: 100%;
    align-content: safe center;
    background-clip: border-box;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: contain;
    background-color: #22d3ee;
  }
  @media (max-width: 1024px) {
    .container {
      padding: 0;
      max-height: 100%;
    }
  }
  @media (max-width: 767px) {
    .container {
      padding: 0;
      max-height: 100%;
    }
  }

  .cards {
    list-style: none;
    white-space: nowrap;
    position: relative;
    max-width: calc(300px * 24);
    overflow: scroll;
    padding-left: 50%;
    padding-right: 50%;
  }
  .cards::-webkit-scrollbar {
    display: none;
  }

  .cards {
    scroll-snap-type: x mandatory;
  }

  @keyframes rotate-cover {
    0% {
      transform: translateX(-100%) rotateY(-45deg);
    }
    35% {
      transform: translateX(0) rotateY(-45deg);
    }
    50% {
      transform: rotateY(0deg) translateZ(1em) scale(1.5);
    }
    65% {
      transform: translateX(0) rotateY(45deg);
    }
    100% {
      transform: translateX(100%) rotateY(45deg);
    }
  }
</style>
